*
	font-family: 'Roboto', sans-serif

body
	

h1
	font-size: 42px
	font-weight: 400

h2
	font-size: 38px
	font-weight: 500

h3
	font-size: 34px
	font-weight: 400

p
	font-size: 30px
	font-weight: 400

.header
	background-color: #404E67
	padding-top: 52px
	padding-bottom: 52px
	display: flex
	flex-direction: row
	justify-content: space-around
	align-items: center
	h2
		text-align: center
		color: #fff
	.logo
		width: 60px
.content

	h3
		color: #fff
		text-align: center
		margin-top: 60px

	.logo

		img
			display: block
			margin: 60px auto

	.sign-in
		
		input
			background-color: $bg_primary_color
			padding: 10px 20px
			margin: 60px 200px 0px 200px
			font-size: 38px
			font-weight: 400
			border-radius: 10px
			border: 3px solid #7E7E7E
			box-shadow: inset 0px 4px #DEDEDE
			color: #fff
	
	.personal_info
		margin-top: 30px
		margin-left: 22px
		display: flex
		flex-direction: row
		.text
			margin-left: 30px
			.name
				color: #000
				font-weight: 500
			.online
				color: $info_color
				position: relative
				margin-top: 20px
				&::after
					position: absolute
					margin-left: 8px
					top: 50%
					transform: translateY(-50%)
					content: ""
					width: 20px
					height: 20px
					pointer-events: none
					background-color: #29CE00
					border-radius: 50%
			.birth
				color: $text_primary_color
				margin-top: 20px
	.facult_info
		margin-left: 20px
		margin-top: 60px
		&_item
			display: flex
			flex-direction: row
			align-items: center
			margin-top: 50px
			.text
				width: 250px
			.link
				font-size: 30px
				width: 400px
				margin-left: 27px
				color: $link_primary_color
					

@media (max-width: 768px)
	img
		width: 60%

	h1
		font-size: 21px
		font-weight: 400

	h2
		font-size: 19px
		font-weight: 500

	h3
		font-size: 16px
		font-weight: 400

	p
		font-size: 15px
		font-weight: 400

	.header
		background-color: #404E67
		padding-top: 26px
		padding-bottom: 26px
		h2
			text-align: center
			color: #fff
		.logo
			img
				width: 100%
		.burger
			img
				width: 50%

	.content

		h3
			color: #fff
			text-align: center
			margin-top: 30px

		.logo

			img
				display: block
				margin: 30px auto

		.sign-in

			input
				padding: 10px 20px
				margin: 30px 200px 0px 200px
				font-size: 19px
				font-weight: 400
				border-radius: 5px
				border: 2px solid #7E7E7E
				box-shadow: inset 0px 2px #DEDEDE
				color: #fff
				background-color: $bg_primary_color
		.personal_info

			.text

				.online

					&::after
						width: 10px
						height: 10px
		.facult_info

			&_item

				.link
					font-size: 15px